<!-- Levels with icons Start -->
<section class="container bg-white mx-auto">
  <div class="py-16 sm:py-24 px-8">
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">
      <div class="items-center flex flex-col">
            <span class="price-text-color">
              <i class="mdi mdi-36px mdi-hand-coin-outline" aria-hidden="true"></i>
            </span>
        <p class="text-center text-base font-bold text-gray-600 mb-5">Finance</p>
        <p class="text-center text-base text-gray-600 mb-5">Get 0% APR credit on purchases over &euro;99</p>
      </div>
      <div class="items-center flex flex-col">
            <span class="price-text-color">
              <i class="mdi mdi-36px mdi-truck-outline" aria-hidden="true"></i>
            </span>
        <p class="text-center text-base font-bold text-gray-600 mb-5">Delivery</p>
        <p class="text-center text-base text-gray-600 mb-5">We offer delivery methods for all your purchases</p>
      </div>
      <div class="items-center flex flex-col">
            <span class="price-text-color">
              <i class="mdi mdi-36px mdi-store-outline" aria-hidden="true"></i>
            </span>
        <p class="text-center text-base font-bold text-gray-600 mb-5">Free Click and Collect</p>
        <p class="text-center text-base text-gray-600 mb-5">Orders that you can pickup up yourself</p>
      </div>
      <div class="items-center flex flex-col">
            <span class="price-text-color">
              <i class="mdi mdi-36px mdi-table-chair" aria-hidden="true"></i>
            </span>
        <p class="text-center text-base font-bold text-gray-600 mb-5">Pre-loved furnitures</p>
        <p class="text-center text-base text-gray-600 mb-5">Get second-hand furniture for less</p>
      </div>
    </div>
  </div>
</section>
<!-- Levels with icons End -->

<!-- Newsletter Start -->
<section class="secondary-banner-bg w-full h-auto">
  <div class="container mx-auto p-8 lg:py-14">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="grid grid-row-2 gap-4">
        <h6 class="text-xl sm:text-2xl lg:text-3xl font-bold text-white mb-5 lg:mb-10">
          Sign in to our newsletter
        </h6>
        <div class="mb-5 sm:mb-6 lg:mb-8">
          <p class="text-white text-base">
            Ready to transform your living space? Sign up for Puresight’s newsletter now for exclusive deals and fresh design inspirations.
          </p>
        </div>
      </div>
      <div class="grid grid-row-2 gap-4">
        <div class="hidden lg:block mb-5 sm:mb-6 lg:mb-8"></div>
        <form action="/bin/newsletter" method="post" class="flex flex-col sm:flex-row gap-6">
          <div class="flex-1">
            <input type="email" name="email" id="email" autocomplete="email" required class="block w-full rounded-sm bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="Type your e-mail..."/>
          </div>
          <div class="flex-0">
            <button type="submit" class="inline-block w-full sm:w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 px-4 py-[6px] rounded-sm font-xl font-medium">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter End -->

<footer class="footer-bg">
  <div class="mx-auto w-full container p-8  lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="mb-6 md:mb-0">
        <img src="../assets/logo-footer.webp" class="w-12 mb-6" alt="Logo" />
        <a target="_blank" rel="noopener noreferrer nofollow" href="/policies-licences.html" class="text-gray-400 text-base mb-6 block">
          Source: Amazon Berkeley Objects (ABO) Dataset
        </a>
        <p class="text-white text-sm">Built with WebSight CMS. © Copyright by Dynamic Solutions sp. z. o.o. All rights reserved.</p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <ul class="text-white font-medium">
          <li class="mb-6">
            <a href="/products.html" class="hover:underline">
              <span>Products</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog/simplify-your-space.html" class="hover:underline">
              <span>Spaces</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog.html" class="hover:underline">
              <span>Blog</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog/from-chaos-to-calm.htm" class="hover:underline">
              <span>Inspiration</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/homepage.html" class="hover:underline">
              <span>Offers</span>
            </a>
          </li>
        </ul>
        <ul class="text-white font-medium">
          <li class="mb-6">
            <a href="/products.html" class="hover:underline">
              <span>Delivery</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog/simplify-your-space.html" class="hover:underline">
              <span>Finance</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog.html" class="hover:underline">
              <span>Planning services</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog/from-chaos-to-calm.htm" class="hover:underline">
              <span>Pre-loved furniture</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/homepage.html" class="hover:underline">
              <span>Buyback</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/homepage.html" class="hover:underline">
              <span>Interior design services</span>
            </a>
          </li>
        </ul>
        <ul class="text-white font-medium">
          <li class="mb-6">
            <a href="/products.html" class="hover:underline">
              <span>Stores</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog/simplify-your-space.html" class="hover:underline">
              <span>About us</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog.html" class="hover:underline">
              <span>Careers</span>
            </a>
          </li>
          <li class="mb-6">
            <a href="/blog/from-chaos-to-calm.htm" class="hover:underline">
              <span>Newsroom</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


{{#include src="/fragments/footLibs.html"}}
