<!-- NAV Start -->
<nav class="bg-white fixed top-0 left-0 right-0 h-24 z-50">
  <div class="container mx-auto px-8">
    <div class="relative flex h-24 items-center justify-between">
      <div class="absolute inset-y-0 right-0 flex items-center lg:hidden">
        <!-- Mobile menu button-->
        <button type="button" id="mobile-nav-button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block size-6 mb-0 nav-menu-icon__burger" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden size-6 mb-0 nav-menu-icon__close" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <a href="/homepage.html" class="flex lg:grow items-center">
          <img class="w-auto" src="../assets/logo-header.webp" alt="logo">
        </a>
        <div class="hidden fixed top-24 w-[100vw] bg-white inset-x-0 lg:block lg:static lg:w-auto" id="nav-menu">
          <div class="flex-col lg:flex-row lg:h-24 flex lg:space-x-4 lg:items-center lg:justify-center lg:gap-8 px-8 lg:px-0 ">
            <a href="/categories/furniture.html" class="ps-1 pe-1 text-base font-medium text-gray-800 cursor-pointer border-b-4 border-transparent hover:text-gray-500 hover:border-gray-500 leading-[3rem] lg:leading-[6rem]" aria-current="page">Products</a>
            <a href="/articles/article3.html" class="ps-1 pe-1 text-base font-medium text-gray-800 cursor-pointer border-b-4 border-transparent hover:text-gray-500 hover:border-gray-500 leading-[3rem] lg:leading-[6rem]">Spaces</a>
            <a href="/articles/article10.html" class="ps-1 pe-1 text-base font-medium text-gray-800 cursor-pointer border-b-4 border-transparent hover:text-gray-500 hover:border-gray-500 leading-[3rem] lg:leading-[6rem]">Inspiration</a>
            <a href="/blog.html" class="ps-1 pe-1 text-base font-medium text-gray-800 cursor-pointer border-b-4 border-transparent hover:text-gray-500 hover:border-gray-500 leading-[3rem] lg:leading-[6rem]">Blog</a>

            <!-- Search Input -->
            <div id="autocomplete" style="--aa-primary-color-rgb: black;" class="w-40 lg:max-w-40"></div>
            <hr class="my-4 md:my-6 border-gray-200 lg:hidden"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- NAV End -->
