<!DOCTYPE html>
<html class="be-vietnam-pro" lang="en">

<head>
  <title>{{name}}</title>
  {{ '{{#include src="/fragments/headContent.html"}}' }}
</head>

<body class="pt-24 overflow-scroll">
{{ '{{#include src="/fragments/header.html"}}' }}

<section class="container bg-white mx-auto">
  <div class="pb-16 sm:pb-24 px-8 mt-16">
    <nav class="flex mb-6" aria-label="Breadcrumb">
      <nav class="breadcrumb  is-medium" aria-label="breadcrumbs">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li><a> <span>Products</span> </a></li>
        </ol>
      </nav>
    </nav>
    <h1 class="text-4xl lg:text-[40px] leading-[60px] font-bold tracking-tight text-gray-800 mb-6">
      {{name | raw}}</h1>
    <div class="lg:grid lg:grid-cols-5 lg:gap-5">
      <div class="col-span-3 w-full p-4">
        <figure>
          <picture>
            <img class="m-auto md:max-h-[700px] md:min-h-[700px] object-contain" src="{{primaryImage.url}}"
                 alt="{{primaryImage.alt}}" loading="eager"/>
          </picture>
        </figure>
        <div class="flex flex-row gap-4 m-auto w-fit p-6">
          {% for image in gallery %}
          {% if loop.index <= 5 %}
          <figure>
            <picture class="aspect-square w-20 flex">
              <img class="w-full object-contain" src="{{ image.url }}" alt="{{ image.alt }}"
                   loading="eager">
            </picture>
          </figure>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-span-2 p-4 mt-6 sm:mt-8 lg:mt-0">
        <p class="text-base text-zinc-500">
          Pure Sight co.
        </p>
        <p class="text-base text-zinc-300">
          {{id}}
        </p>
        <hr class="my-4 md:my-6 border-gray-200"/>
        <p class="text-gray-500">
          {{description | raw}}
        </p>
        <hr class="my-4 md:my-6 border-gray-200"/>
        {% if price.value %}
        <div class="flex flex-row py-4 items-center gap-3">
          <p class="text-lg font-bold">
            <span class="text-zinc-700">from</span>
          </p>
          <h2 class="price-text-color text-5xl font-bold">{{price.value}}&euro;</h2>
        </div>
        {% endif %}
        <button type="submit"
                class="inline-block w-full bg-neutral-700 hover:bg-neutral-800 text-neutral-100 px-4 rounded-sm font-xl font-medium items-center">
          <span class="leading-[40px]">Buy now</span>
          <i class="mdi mdi-24px mdi-cart-outline" aria-hidden="false"></i>
          </span>
        </button>
        <p class="text-base text-zinc-300 mt-4">
          {% for attribute in attributes %}
          {{ attribute.label | default(attribute.name | capitalize) }}:
          {% for value in attribute.values %}
          {{ value.value | default('') }}{% if not loop.last %}, {% endif %}
          {% endfor %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Articles section -->
<section class="container bg-white mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 pb-16 sm:pb-24">
    <div class="px-8">
      <h4 class="text-3xl font-bold text-gray-800 mb-6">Reviews</h4>
      <ul class="flex flex-col w-full bg-white flex flex-col items-start">
        {% for review in reviews %}
        <li class="w-full p-5 mb-6 shadow-md rounded-xl border-zinc-100 border">
          <div class="grid sm:grid-cols-2 gap-4 text-neutral-700">
            <div class="">
              <div class="flex items-center flex-shrink-0">
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
              </div>
              <p class="text-sm font-bold">{{review.title}}</p>
            </div>
            <div class="flex flex-col text-right mr-3 text-sm">
                  <span class="mb-3">
                   {{review.author}}
                  </span>
              <span>
                    {{review.date}}
                  </span>
            </div>
          </div>
          <p class="text-gray-500 mt-6">{{review.content}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="px-8">
      <h4 class="text-3xl font-bold text-gray-800 mb-6">Related Articles</h4>
      <div class="grid sm:grid-cols-2 gap-4">
        <div class="bg-white flex flex-col items-start">
          <figure class="w-full mb-5">
            <picture class="aspect-[2/3] object-cover">
              <source media="(max-width: 639px)"
                      srcset="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_575x863.webp">
              <source media="(min-width: 640px) and (max-width: 767px)"
                      srcset="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_276x414.webp">
              <source media="(min-width: 768px) and (max-width: 1023px)"
                      srcset="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_340x510.webp">
              <source media="(min-width: 1024px) and (max-width: 1279px)"
                      srcset="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_204x306.webp">
              <source media="(min-width: 1280px) and (max-width: 1535px)"
                      srcset="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_268x402.webp">
              <source media="(min-width: 1536px)"
                      srcset="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_332x498.webp">
              <img class="rounded"
                   src="../assets/blog/article8/media_17311eec63c8923e69ccd0b0b46bfa9784fc379a2_575x863.webp"
                   loading="lazy" alt=""/>
            </picture>
          </figure>
          <p class="text-lg font-bold text-gray-800 mb-5">
            Work From Home Oasis: Creating a Productive Workspace
          </p>
          <p class="text-sm text-gray-600 mb-5">
            To embark on a decluttering journey, start with a clear vision. Consider what truly
            matters to you and what you want your space to reflect. Begin with the basics: sorting
            through possessions and letting go of items that no longer serve a purpose. The "less is
            more" mantra becomes your guiding principle as you free your living area from excess.
          </p>
          <p class="text-sm text-gray-600 mb-5">
            Susannah Meyer Jul 21 3 min read
          </p>
          <a href="/articles/article8.html"
             class="flex-shrink-0 px-2 py-1 w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 rounded-sm">
                <span class="inline-block w-auto">
                  <i class="mdi fa-lg mdi-arrow-right" aria-hidden="false"></i>
                </span>
          </a>
        </div>
        <div class="bg-white flex flex-col items-start">
          <figure class="w-full mb-5">
            <picture class="aspect-[2/3] object-cover">
              <source media="(max-width: 639px)"
                      srcset="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_575x863.webp">
              <source media="(min-width: 640px) and (max-width: 767px)"
                      srcset="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_276x414.webp">
              <source media="(min-width: 768px) and (max-width: 1023px)"
                      srcset="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_340x510.webp">
              <source media="(min-width: 1024px) and (max-width: 1279px)"
                      srcset="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_204x306.webp">
              <source media="(min-width: 1280px) and (max-width: 1535px)"
                      srcset="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_268x402.webp">
              <source media="(min-width: 1536px)"
                      srcset="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_332x498.webp">
              <img class="rounded"
                   src="../assets/blog/article7/media_1c28fdb7f15fec661809a916b0ff08bd5a02da5ec_575x863.webp"
                   loading="lazy" alt=""/>
            </picture>
          </figure>
          <p class="text-lg font-bold text-gray-800 mb-5">
            Apartment Therapy: Reversible Design Hacks for Renters
          </p>
          <p class="text-sm text-gray-600 mb-5">
            In an ever-changing world, where life's pace often feels like a frenzied sprint, the
            minimalism movement has gained momentum. This trend towards simplifying life, both
            physically and mentally, has found its place in the hearts and homes of many. Join me on
            a journey to discover the art of decluttering and how it can transform your living
            spaces into havens of peace and serenity.
          </p>
          <p class="text-sm text-gray-600 mb-5">
            Sarah Mitchell Mar 26 2025 3 min read
          </p>
          <a href="/articles/article7.html"
             class="flex-shrink-0 px-2 py-1 w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 rounded-sm">
                <span class="inline-block w-auto">
                  <i class="mdi fa-lg mdi-arrow-right" aria-hidden="false"></i>
                </span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Articles End -->

<!-- Related Products Start-->
<section class="container bg-white mx-auto">
  <div class="pb-16 sm:pb-24 px-8">
    <h2 class="text-6xl font-bold leading-[72px] text-gray-900 mb-2">Related products</h2>

    <ul class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-4 xl:gap-x-8">
      <li>
        <div class="flex flex-col">
          <figure class="w-full border-neutral-200 border aspect-[3/4] flex">
            <picture class="m-auto w-full object-contain">
              <source media="(max-width: 639px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_573x765.webp">
              <source media="(min-width: 640px) and (max-width: 767px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_274x366.webp">
              <source media="(min-width: 768px) and (max-width: 1023px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_338x452.webp">
              <source media="(min-width: 1024px) and (max-width: 1279px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_214x286.webp">
              <source media="(min-width: 1280px) and (max-width: 1535px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_278x372.webp">
              <source media="(min-width: 1536px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_573x765.webp">
              <img alt="" class="" loading="lazy"
                   src="https://storage.googleapis.com/puresight-pim-images/webp/A1/A1oAzyyESmL_573x765.webp">
            </picture>
          </figure>
          <div class="mt-4 flex gap-y-2 flex-wrap">
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold text-gray-700 truncate flex-grow">
                Hoffman Down-Fill...
              </p>
              <div class="flex items-center flex-shrink-0">
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star-outline " aria-hidden="true"></i>
              </div>
            </div>
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold price-text-color truncate flex-grow">
                360&euro;
              </p>
              <a href="/products/hoffman-down-filled-performance-fabric-oversized-arm-chair-59-w-grey-tweed-b0728nw8c4.html"
                 class="flex-shrink-0 px-2 py-1 w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 rounded-sm">
                    <span class="inline-block w-auto">
                      <i class="mdi mdi-24px mdi-cart-outline" aria-hidden="false"></i>
                    </span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-col">
          <figure class="w-full border-neutral-200 border aspect-[3/4] flex">
            <picture class="m-auto w-full object-contain">
              <source media="(max-width: 639px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_573x765.webp">
              <source media="(min-width: 640px) and (max-width: 767px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_274x366.webp">
              <source media="(min-width: 768px) and (max-width: 1023px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_338x452.webp">
              <source media="(min-width: 1024px) and (max-width: 1279px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_214x286.webp">
              <source media="(min-width: 1280px) and (max-width: 1535px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_278x372.webp">
              <source media="(min-width: 1536px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_573x765.webp">
              <img alt="" class="" loading="lazy"
                   src="https://storage.googleapis.com/puresight-pim-images/webp/91/91Af2N7XoiL_573x765.webp">
            </picture>
          </figure>
          <div class="mt-4 flex gap-y-2 flex-wrap">
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold text-gray-700 truncate flex-grow">
                Bradbury Chesterf...
              </p>
              <div class="flex items-center flex-shrink-0">
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star-outline " aria-hidden="true"></i>
              </div>
            </div>
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold price-text-color truncate flex-grow">
                211&euro;
              </p>
              <a href="/products/bradbury-chesterfield-tufted-loveseat-sofa-couch-78-7-w-hemp-b0723h8jnn.html"
                 class="flex-shrink-0 px-2 py-1 w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 rounded-sm">
                    <span class="inline-block w-auto">
                      <i class="mdi mdi-24px mdi-cart-outline" aria-hidden="false"></i>
                    </span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-col">
          <figure class="w-full border-neutral-200 border aspect-[3/4] flex">
            <picture class="m-auto w-full object-contain">
              <source media="(max-width: 639px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_573x765.webp">
              <source media="(min-width: 640px) and (max-width: 767px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_274x366.webp">
              <source media="(min-width: 768px) and (max-width: 1023px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_338x452.webp">
              <source media="(min-width: 1024px) and (max-width: 1279px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_214x286.webp">
              <source media="(min-width: 1280px) and (max-width: 1535px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_278x372.webp">
              <source media="(min-width: 1536px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_573x765.webp">
              <img alt="" class="" loading="lazy"
                   src="https://storage.googleapis.com/puresight-pim-images/webp/71/71E70RfLk7L_573x765.webp">
            </picture>
          </figure>
          <div class="mt-4 flex gap-y-2 flex-wrap">
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold text-gray-700 truncate flex-grow">
                Leila Tufted Leat...
              </p>
              <div class="flex items-center flex-shrink-0">
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star-outline " aria-hidden="true"></i>
              </div>
            </div>
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold price-text-color truncate flex-grow">
                208&euro;
              </p>
              <a href="/products/leila-tufted-leather-sofa-couch-88-w-sod-b07p5lmg2f.html"
                 class="flex-shrink-0 px-2 py-1 w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 rounded-sm">
                    <span class="inline-block w-auto">
                      <i class="mdi mdi-24px mdi-cart-outline" aria-hidden="false"></i>
                    </span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-col">
          <figure class="w-full border-neutral-200 border aspect-[3/4] flex">
            <picture class="m-auto w-full object-contain">
              <source media="(max-width: 639px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_573x765.webp">
              <source media="(min-width: 640px) and (max-width: 767px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_274x366.webp">
              <source media="(min-width: 768px) and (max-width: 1023px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_338x452.webp">
              <source media="(min-width: 1024px) and (max-width: 1279px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_214x286.webp">
              <source media="(min-width: 1280px) and (max-width: 1535px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_278x372.webp">
              <source media="(min-width: 1536px)"
                      srcset="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_573x765.webp">
              <img alt="" class="" loading="lazy"
                   src="https://storage.googleapis.com/puresight-pim-images/webp/71/71UOS4lKTKL_573x765.webp">
            </picture>
          </figure>
          <div class="mt-4 flex gap-y-2 flex-wrap">
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold text-gray-700 truncate flex-grow">
                Lauren Down-Fille...
              </p>
              <div class="flex items-center flex-shrink-0">
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star " aria-hidden="true"></i>
                <i class="mdi mdi-star-outline " aria-hidden="true"></i>
              </div>
            </div>
            <div class="flex flex-row items-center flex-grow w-full">
              <p class="text-base font-bold price-text-color truncate flex-grow">
                483&euro;
              </p>
              <a href="/products/lauren-down-filled-oversized-loveseat-with-hardwood-frame-74-w-pepper-b07p8sv586.html"
                 class="flex-shrink-0 px-2 py-1 w-fit bg-neutral-700 hover:bg-neutral-800 text-neutral-100 rounded-sm">
                    <span class="inline-block w-auto">
                      <i class="mdi mdi-24px mdi-cart-outline" aria-hidden="false"></i>
                    </span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Related Products end -->

{{ '{{#include src="/fragments/footer.html"}}' }}
</body>

</html>
